body {
    background-color: #f6f7f8;
}

#main-nav {
    background-color: #363636;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#main-nav>.logo {
    color: #ffff;
}

#main-nav .nav-item .nav-link {
    color: white;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
}

.titlebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #424242;
    padding: 8px 16px;
    border-bottom: solid 1px #dce3e5;
    border-top: solid 1px #dce3e5;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
}

hr {
    border: 1px solid silver;
}

.img-http {
    height: 319px;
    width: 545px;
    margin: auto;
}

.importante {
    background-color: #fff3d4;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

.requisicao {
    height: 336px;
    width: 693px;
}